.no-select {
  user-select: none;
}

.home-divs {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.top-div {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100vw;
}

.logo-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 5px;
}

.logo-parentheses {
  display: flex;
  flex-direction: row;
  margin-top: -25px;
  margin-bottom: -110px;
}

#l-parentheses, #r-parentheses {
  font-size: 80pt;
  font-weight: 125;
}

#l-parentheses {
  margin-left: -30px;
}

#r-parentheses {
  padding-left: 125px;
}

#logo-product {
  padding-left: 30px;
}

#logo-company {
  margin-top: -10px;
  padding-bottom: 10px;
}

.left-div {
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  width: 50vw;
  text-align: center;
  padding-left: 30px;
  padding-right: 25px;
}

#left1, #left2 {
  margin-bottom: -10px;
}

#left1 {
  padding-top: 22vh;
  margin-left: -60px;
}

#left2 {
  margin-left: -53px;
}

#left3 {
  margin-left: -1px;
}

.right-div {
  background-color: black;
  color: white;
  text-align: center;
  width: 50vw;
  padding-top: 44vh;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-primary, .btn-primary:hover {
  background-color: rgb(30,215,96);
  border: solid 2px black;
  height: 50px;
  /* padding-bottom: 20px; */
}

.login-text {
  margin-top: -4px;
}

.btn-primary:hover {
 transform: scale(1.1);
}

#login, #loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.playlists-logo-div {
  padding-left: 35px;
}

.playlists-title {
  margin-top: -65px;
  /* padding-top: 2px; */
  margin-bottom: -50px;
  text-align: center;
}

.playlists-box {
  background-color: black;
  border-radius: .5%;
  display: flex;
  flex-direction: column;
  height: 80vh; 
  width: 95vw;
  margin-top: 50px;
  margin-left: 2.5vw;
  border: 2px solid black;
}

.playlists-btns {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 20px;
  margin-top: -68px;
  padding-right: 26px;
  margin-bottom: -52px;
}

#add-playlist-btn, #rem-playlist-btn {
  border: 2px solid black;
  /* padding: 10px 15px 10px 15px; */
  width: 120px;
  text-align: center;
  margin-left: -2px;
}

.add-playlist-text, .rem-playlist-text {
  margin-top: -20px;
  padding-top: 2px;
  font-size: 40pt;
}